*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@400;600&family=Roboto+Condensed&family=Roboto:wght@500&display=swap');
:root{
    --font-principal: 'Poppins', sans-serif;
}
body{
    display: none;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Coloca o pseudo-elemento atrás dos outros elementos */
    background-image: url('imagens/zyro-image.png');
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    filter: brightness(0.7);
}
#TopoSection{
    height: max-content;
    padding-top: 15vh;
    width: 100%;
}
header{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#amostraNavegação{
    position: fixed;
    left: 50px;
    top: 10px;
    height: 95vh;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LinhaNavegação{
    background-color: white;
    width: 2px;
}
.BttMenu1{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}
.BttMenu2{
    position: fixed;
    top: 30px;
    left: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    cursor: pointer; 
}
.barra1-1{
    transition: 0.5s;
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
}
.barra1-2{
    transition: 0.5s;
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    rotate: 45deg;
    margin-top: 11px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
}
.barra2-1{
    transition: 0.5s;
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
}
.barra2-2{
    transition: 0.5s;
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    rotate: -45deg;
    margin-bottom: 11px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.089);
}
.navegação1{
    display: none;
}
.navegação2{
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 120px;
    top: 25px;
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 30px;
}
.BttNavegação{
    font-family: var(--font-principal);
    background: none;
    color: white;
    border: none;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
}
.BttNavegação:hover{
    color: rgb(218, 218, 218);
}
#link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}
.ImagemLink{
    height: 30px;
}
.ImagemLink:hover{
    filter: brightness(0.8);
}
#cartazFilme{
    color: white;
    font-family: var(--font-principal);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: max-content;
}
#CardVideo{
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#videoTrailer{
    width: 500px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.474);
    cursor: pointer;
}
#Descrição{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#DescriFilme{
    width: 50%;
}
#titleFilme{
    font-size: 15pt;
}
#sinopse{
    margin-top: 20px;
    font-size: 12pt;
    color: rgb(190, 190, 190);
}
#Autores{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}
.TitleAutor{
    margin-top: 20px;
    font-size: 12pt;
}
.DescriAutor{
    margin-top: 5px;
    font-size: 10pt;
    color: rgb(190, 190, 190);
}
.TitleSecund{
    color: white;
    font-family: var(--font-principal);
    font-size: 15pt;
    font-weight: 400;
    margin-top: 40px;
}
#containerElenco{
    margin-top: 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    display: grid;
    flex-direction: row;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 20px;
    height: 230px;
    overflow: hidden;
}
.NameAtor{
    color: white;
    font-size: 12pt;
    font-family: var(--font-principal);
}
.Pesonagem{
    color: rgb(185, 185, 185);
    font-family: var(--font-principal);
    font-size: 12pt;
}
#botãoAba{
    position: relative;
    top: 20px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.Linha{
    background-color: white;
    height: 2px;
    width: 30%;
}
#RevelarElenco{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: rgb(43, 43, 43);
    font-size: 10pt;
    font-family: var(--font-principal);
    font-weight: 700;
    cursor: pointer;
}

/*responsividade*/
@media (max-width: 936px){
    #cartazFilme{
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }
    #CardVideo{
        margin-left: calc(50% - 250px);
    }
    #videoTrailer{
        width: 500px;
        height: 280px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.474);
        cursor: pointer;
    }
    #Autores{
        width: 100%;
        margin-top: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}
@media (max-width: 720px){
    body{
        background-color: black;
    }
    body::before{
        background-image: url('imagens/BackgroundPequenaIT.png');
        background-size: cover;
    }
    #marcadores{
        display: none;
    }
    #Descrição{
        width: 100%;
        justify-content: space-evenly;
    }
    .navegação2{
        flex-direction: column;
        justify-content: space-evenly;
        height: 300px;
        width: 100px;
        top: 90px;
        left: 50px;
        z-index: 10000;
    }
    body{
        background-size: 150%;
    }
    #videoTrailer{
        width: 500px;
    }
    #BoxAtores{
        grid-template-columns: 150px 150px;
    }
}
@media (max-width: 650px){
    header{
        right: 30px;
        width: 80px;
    }
    .ImagemLink{
        width: 20px;
        height: 25px;
    }
}
@media (max-width: 580px){
    #cartazFilme{
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }
    #CardVideo{
        margin-left: calc(50% - 200px);
    }
    #videoTrailer{
        width: 400px;
        height: 280px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.474);
        cursor: pointer;
    }
    #Autores{
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: start;
        margin-left: calc(50% - 200px);
        justify-content: center;
    }
}
@media (max-width: 500px){
    #cartazFilme{
        width: 80%;
    }
    #Descrição{
        width: 100%;
        flex-direction: column;
        align-items: start;
    }
    #DescriFilme{
        width: 100%;
    }
    body{
        background-size: 220%;
    }
}
@media (max-width: 470px){
    #videoTrailer{
        width: 300px;
        height: 200px;
        margin-top: 10px;
    }
    #cartazFilme{
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: max-content;
    }
    #CardVideo{
        margin-left: 0px;
    }
    #Autores{
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: start;
        margin-left: 0px;
        justify-content: center;
    }
}